
* {
box-sizing: border-box;   
}

/* Base element styles */

html {
    height: 100%;
}

body {
margin: 0;
padding: 0;
font-family: 'Open-Sans', sans-serif;    
overflow: auto;
display: flex;
flex-direction: column;
min-height: 100%;
}

/* Link Styles */

a {
text-decoration: none; 
color: white;
}

/* Section Styles */

h1 {
text-align: center;
text-transform: uppercase;
color: slategray;
font-size: 1.75em;
}

h2 {
text-align: center;
font-weight: 400;
color: coral;
}

h4 {
   font-weight: 100;
   font-size: 1em; 
}

p {
font-size: .9em;
color: slategray;
}

ul {
margin: 30px;
padding: 0;   
width: 100%; 
}

/* Layout styles */

.title {
display: inline-block;
width: 100%;
font-size: 3em;
list-style: none;
text-align: center;
color: slategray;
background: none;
margin-bottom: 30px;
}

.main-nav .nav-links {
text-transform: uppercase;
display: inline-block;
width: 100%;
list-style: none;
text-align: center;
background: coral;
color: white;
padding: 10px 30px;
margin-bottom: 10px;
}

.profile-image {
width: 100%;
margin: auto;
padding: 30px;
}

.bio {
color: white;
text-align: center;
font-weight: 100;
padding: 0 20px 0 20px;
margin-top: -15px;
}

.main-header {
background-color: coral;
height: 50%;
margin-bottom: 20px;
text-align: center;
}

.marketing,
.search,
.travel,
.favorite,
.photo,
.calc {
display: inline-block;
text-align: center;
margin: 20px;
}


img {
max-width: 100%;
}

footer {
height: 350px;
    background-color: coral;
    text-align: center;
    margin: 0;
   color: white;
   padding: 20px;
   font-size: .9em;
}

.footer-color {
color: white;
}

.footer-links {
    color: white;
    font-weight: bold;
}

.footer-name {
display: inline-block;
margin-right: 50px;
margin-top: 50px;
}

.footer-top {
display: inline-block;
}

.footer-break {
    margin-top: 50px;
    border: 1px solid white;
}

/* Clearfix rule */

.clearfix:after {
    display: table;
    clear: both;
}

/* Media Queries */

@media (min-width: 768px) {

.main-header {
width: 100%;
}

.main-nav .nav-links {
display: inline;
background: none;
color: coral;
text-align: center;
}

.profile-image {
width: 40%;
float: right;
}
        
.bio {
float: left;
text-align: left;
width: 60%
font-size: 1.5em;
}

.marketing,
.search,
.travel,
.favorite,
.photo,
.calc {
width: 40%;
}

}

@media (min-width: 1024px) {


}