
* {
box-sizing: border-box;   
}

/* Base element styles */

html {
    height: 100%;
}

body {
display: flex;
flex-direction: column;
font-family: 'Open-Sans', sans-serif;  
margin: 0;
min-height: 100%;
overflow: auto;
padding: 0;
}

/* Link Styles */

a {
color: white;
text-decoration: none; 

}

/* Section Styles */

h1 {
color: gray;
font-size: 1.75em;
text-align: center;
}


h2 {
color: #FF7F50;
font-weight: 400;
text-align: center;
}

h3 {
color: white;
font-size: 1.75em;
text-align: center;
text-transform: uppercase;
font-family: 'Open-Sans', sans-serif;
}

h4 {
font-size: 1em; 
font-weight: 100;
}

h5 {
color: white;
font-size: 1em;
text-align: center;
text-transform: uppercase;
}

h6 {
color: gray;
font-size: 1.75em;
text-align: center;
text-transform: uppercase;
margin: 20px;
}

p {
color: gray;
font-size: .9em;
font-family: 'playfair', serif;
}

ul {
list-style: none;
}

hr {
border: 1px solid white;
}


/* Layout styles */

.main-heading {
text-align: center;
width: 100%;
}

.main-name {
color: gray;
font-size: 2em;
margin-top: 20px;
text-align: center;
width: 100%;
}

.main-nav a {
background-color: #FF7F50;
color: rgb(255, 255, 255);
display: inline-block;
list-style: none;
margin-bottom: 10px;
padding: 10px; 
text-align: center;
text-transform: uppercase;
width: 100%;
}

.main-header {
background-color: #FF7F50;
height: 50%;
text-align: center;
}

.bio {
color: white;
font-weight: 100;
margin-top: -15px;
padding: 0 20px 0 20px;
text-align: center;
}

.profile-image {
margin: auto;
padding: 30px;
width: 100%;
}

.col {
display: inline-block;
line-height: 1.5em;
margin-right: 20px;
margin-left: 20px;
text-align: center;
}


img {
max-width: 100%;
}

.other-skills {
color: #FF7F50;
display: inline-block;
font-weight: 400;
list-style: none;
text-align: center;
width: 100%;
}

.skills {
    padding: 10px;
}

footer {
background-color: #FF7F50;
color: white;
font-size: .9em;
height: 275px;
margin: 0;
padding-right: 20px;
padding-left: 20px;
text-align: center;
}

.footer-color {
color: white;
}

.footer-links {
    color: white;
    font-weight: bold;
}

.footer-nav {
    font-family: 'open-sans', serif;
}

.footer-name,
.footer-top {
display: inline-block;
font-size: 1.5em;

}

.footer-name {
float: left;   
}

.footer-top {
float: right;
}

.nav-bottom {
display: none;
text-transform: uppercase;
font-weight: 100;
}

/* Pseudo Styles */

a:hover {
color: turquoise;
}

/* Clearfix rule */

.clearfix:after {
clear: both;
display: table;
}

/* Media Queries */

@media (min-width: 768px) {

.main-name {
padding-top: 20px;
}

.main-nav,
.main-nav li {
display: inline-block;
}

.main-nav a {
    background: none;
    color: #FF7F50;
}

.main-header {
padding-top: 20px;
width: 100%;
}

.profile-image {
float: right;
max-width: 40%;
}
        
.bio {
font-size: 1em;
margin-top: 25px;
text-align: left;
width: 60%
}

.wrapper {
text-align: center;
}

.col {
padding: 10px;
width: 40%;
}

.nav-bottom {
display: block;
float: right;
font-size: 1.5em;
}

.nav-bottom li {
display: inline-block;
text-align: center;
padding-left: 30px;
}

.nav-bottom a {
    color: white;
}

.footer-top {
display: none;
}

}

@media (min-width: 1024px) {


.main-name {
float: left;
width: 30%;
}

.main-nav {
float: right;
width: 60%;
margin-right: -100px;
}

.col {
width: 25%;
}

